<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Yandex Cloud Diploma</title>
</head>
<body>
    <h1>Hello from {{ inventory_hostname }}</h1>
    <p>This server is managed by Ansible.</p>
</body>
</html>